#Theory Questions
###Q1.what are data structures and why are they important?
#####ans.data structures are the way of storing, organizing and managing so that it can be easily accessed and manipulated.

 they are important because-1.efficiency.
                            2.organization
                            3.scalibility
                            4.reuseability

###Q2.Explain the difference between mutable and immutable data types with examples?
#####ans. **mutable data type->**these can be changd in place after creation you can modify ,add or remove elements without changing the object"s identity (its memory address remains the same)

  example->  1.list=[1,4,9,0,5]
             2.dict={"age":25,"name":"ashu"}

  **immutable data types->** these can not be changed once created if done so their identity will change.

  example-> int=2,float=2.78

###Q3.what are the main difference between list and tuple in python?
#####ans.**list->**   
1. mutable (can be changed)
2.defined using square brackets[]
3.use for dynamic data.
4. use more memory.
exaple- list=[1,2,3,4]

**Tuple->**

   1.immutable(can be changed)

   2.defined using parenthesis()

3.use for fixed data

4.use less memory.

example-a=(1,2,3,4)

###Q4. How dictionaries store data?
#####ans.  in python ,dictionaries store data as key value pair using data structure called a hash table.
  my_dict={"name"="ashutosh",age=23}

  each key is passed through a hash function which generates a unique hash code (an integer)

###Q5.Why might you use a set instead of a list in python?

#####ans.when i need these characteristics then-
1.unique elements only-
list=[1,2,2,3,3,4,4,5,5]

my_set=set(list) #{1,2,3,4,5}

2.faster membership testing-> checking that any elements exist in any set is much faster than a set.
 5 in my_set # search is fast compare to list.

 2 in my_list

3.set operations-
 all operations like intersection,union,difference.

###Q6.what is string in python,and how is it different from list?
#####ans.in python , string is a sequence of characters enclosed in either single quates ('....')or double quotes(".....").
my_string="hello_world"

1.immutable

2.enclosed in quates

3..upper()

4..split()

on otherhand,list is collection of different data type enclosed in[](square bracket)

1.

###Q7.how do tuples ensure data integrity in python?
#####ans. Tuples ensures data integrity in python by being immutable .
  means can not be changed once created throughout the program.
  it remains fixed throughout pogram means can not be changed whn created.hence data remain same.and unchanged.

###Q8.what is hash table and how does it relate to dictionaries in python?
#####ans.hash table is data structure that stores data in the form of key value pair.hash table uses hash function to generate hash code from where it decides
where to store data in memory.

example- my_dict={"fruit":'orange',"age":29}
         print(my_dict["fruit"])  #output orange

###Q9.can lists contain different data types in python?
#####ans.yes,lists can take different data types in python.
example->

In [ ]:
list=[1,"apple",1.1,4,5,5]
print(list)

[1, 'apple', 1.1, 4, 5, 5]

###Q10.explain why strings are immutable in python?
#####ans.strings are immutable because once created can not modified
any operation which seems modification actually creates new string.

example-> ashu="anjali"
          ashu="mukesh"#creates new string

###Q11.what advantages do dictionaries offer over lists for certain task?
#####ans.advantages of dictionaries over list is as follows-

 1.dictionary carry data in the form of "key":"value" pair.no indexing like list.

 2.dictionary uses hash function to generate hash values to assign memory for data.

###Q12.describe a scenario where using a tuple would be preferable over a list?
#####ans.requirements where no data modification is required tuple is better than list because tuole is immutable, but list is not.

example ->
t=(1,2,3,4)#tuple
l=[1,2,34,45]#list

###Q13.how do sets handle duplicate values in python?
#####ans. set data structure remove duplicate values in the set.

In [49]:
s={1,1,2,2,3,3,3,4,4,4,4}
print(s)

{1, 2, 3, 4}

###Q14.how does "in" keyword work differently for lists and dictionaries?
#####ans.

In [53]:
list=["ajay","bijay","ashu"]
print("ajay" in list)#searching for values not index

True

In [52]:
my_dict={"name":"ashu","age":23}
print("ashu" in my_dict)#searching for key not values.

False

###Q15.can you modify the elements of a tuple ?explain why or why not?
#####ans. we can not modify elements of tuple because tuple is immutable.any modification lead to new tuple.
t=(1,2,3,4)
t[0]=5 new tuple.

###Q16.What is nested dictionary,and give an example of its use case?
#####ans.

In [54]:
dict={"name":"ashutosh_singh","age":23,"my_dict":{"name":"ashu","age":29}}
print(my_dict)

{'name': 'ashu', 'age': 23}

###Q17.describe the time complexity of accessing elements in a dictionary?

#####ans. very fast in accessing of elements in dictionary.
1.calculate the hash of key.
2.uses that hash to straight jump to memory location.
3.grabs the value.

###Q18.in what situations are lists preferred over dictionaries?
#####ans. situations where lists are preferred is ->
          1.list store value in index format
          list=[1,2,3,4]
          2.dictionary store value in "key":"value" pair
  when we have to use for loop or while loop we generally prefer list on dict.

###Q19.why are dictionary considered unordered,and how does that affect data retrivel.
#####ans. dictionary store data in "key":"value" pair there is no indexing so it is unordered .we have to get value direct from key.not from index

can not use for loop to retrive data from dictionary because we have give "key"
 name

###Q20.explain the difference between a list and a dictionary in terms of data retrival?
#####ans. we can retrive data as follows->

In [62]:
dict={"age":23,"name":"ashu"}
print(dict["age"])#retrival of data by key in dictionary

23

In [63]:
list=[11,22,33,44,55,66,77]
print(list[3])#retrival of data by index in list

44

#**Practical questions**

In [ ]:
#Q1.write a code to create a string with your name and print?
name="ashutosh_singh"
print(name)

ashutosh_singh

In [ ]:
#Q2.write a code to find the length of string "hello_world"?
x="hello_world"
len(x)

11

In [ ]:
#Q3.write a code to slicethe first 3 characters from the string "python programming"
x="python programming"
print(x[0:3])

pyt

In [ ]:
#Q4.write a code to convert the string "hello" to uppercase?
a='hello'
a.upper()

'HELLO'

In [ ]:
#Q5.write acode to replace apple with orange in string "i like apple"
x='i like apple'
x.replace("apple","orange")

'i like orange'

In [ ]:
#Q6.write a code to create a list with numbers 1 to 5 and print it
list=[1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [ ]:
#Q7.write a code to append the number 10 to the list [1,2,3,4]
list=[1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [ ]:
#Q8.write a code to remove the number 3 from the list [1,2,3,4,5]
list=[1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [ ]:
#Q9.write a code to access the second element in the list['a','b','c','d']
list=['a','b','c','d']
print(list[1])

b

In [ ]:
#Q10.write a code to reverse the list[10,20,30,40,50]
list=[10,20,30,40,50]
list[: :-1]

[50, 40, 30, 20, 10]

In [ ]:
#Q11. write a code to create a tuple with the elements 100,200,300and print it
tuple=(100,200,300)
print(tuple)

(100, 200, 300)

In [ ]:
#Q12.write a code to access the second to last elemrnt of the tuple ('red,'green','blue,'yellow')
tuple=('red','green','blue','yellow')
print(tuple[1:4])

('green', 'blue', 'yellow')

In [ ]:
#Q13.write a code to find minnimum number in the tuple(10,20,5,15)
tuple=(10,20,5,15)
min(tuple)

5

In [ ]:
#Q14.write a code to find the index of the element 'cat' in the tuple ('dog','cat','rabbit')
tuple=('dog','cat','rabbit')
tuple.index('cat')

1

In [ ]:
#Q15.write a code to create a tuple cotaining three different fruits and check if 'kiwi' in it?
tuple=('apple','banana','kiwi')
'kiwi' in tuple

True

In [ ]:
#Q16.write a code to create a set with the elements 'a','b','c' and print it?
sets={'a','b','c'}
print(sets)

{'a', 'c', 'b'}

In [11]:
#Q17.write a code to clear all elements from the set{1,2,3,4,5}?
sets={1,2,3,4,5}
sets.clear()
print(sets)

set()

In [12]:
#Q18.write a code to remove the element 4 from the set {1,2,3,4}?
sets={1,2,3,4}
sets.remove(4)
print(sets)

{1, 2, 3}

In [13]:
#Q19.write a code to find union of two sets {1,2,3} and {3,4,5}?
set1={1,2,3}
set2={3,4,5}
set1.union(set2)

{1, 2, 3, 4, 5}

In [15]:
#Q20.write a code to find intersection of two sets {1,2,3} and{2,3,4}?
set1={1,2,3}
set2={2,3,4}
set1.intersection(set2)

{2, 3}

In [16]:
#Q21.WRITE a code to create a dictionary with the keys "name","age","city" and print?
dict={"name":"ashutosh","age":23,"city":"lucknow"}
print(dict)

{'name': 'ashutosh', 'age': 23, 'city': 'lucknow'}

In [19]:
#Q22.write a code to add a new key-value pair "country":"usa"to the dictionary{"name":'jhon','age',25}?
dict={"name":"jhon","age":25}
dict["country"]="usa"
print(dict)

{'name': 'jhon', 'age': 25, 'country': 'usa'}

In [20]:
#Q23.write a code to access the value associated with the key "name"in the dictionary{'name':'alice','age':30}?
dict={'name':'alice','age':30}
dict["name"]

'alice'

In [21]:
#Q24.write a code to remove the key "age"from the dictionary {'name':'bob','age':22,'city':'new york'}?
dict={'name':'bob','age':22,'city':'new york'}
dict.pop("age")
print(dict)

{'name': 'bob', 'city': 'new york'}

In [22]:
#Q25.write a code to check if the key "city"exists in the dictionary {'name':'alice','city':'paris'}?
dict={'name':'alice','city':'paris'}
'city' in dict

True

In [23]:
#Q26.write a code to create a list , a tuple ,and a dictionary,and print them all?
list=[1,2,3,4]
tuple=(1,2,3,4)
dict={"name":"ashutosh","age":23}
print(list)
print(tuple)
print(dict)

[1, 2, 3, 4]
(1, 2, 3, 4)
{'name': 'ashutosh', 'age': 23}

In [40]:
#Q27.write a code to create a list of 5 random numbers between 1 to 100 , sort it in ascending order and print the result?
import random
list=[random.randint(1,100) for i in range(5)]
list.sort()
print(list)
import random

[9, 19, 32, 75, 82]

In [42]:
#Q28.write acode to create a list with strings and print the element at the third index?
list=['apple','banana','orange','kiwi']
list[3]

'kiwi'

In [46]:
#Q29.write a code to combine two dictionaries into one and print the reult?
dict1={"name":"ashutosh","age":23}
dict2={"city":"lucknow","country":"india"}
dict1.update(dict2)
print(dict1)

{'name': 'ashutosh', 'age': 23, 'city': 'lucknow', 'country': 'india'}

In [48]:
#Q30.write a code to convert a list of strings into set?
list=['apple','banana','orange']
set(list)

{'apple', 'banana', 'orange'}